<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="iframe-container"></div>
    <button id="iframe-login">Login</button>
    <div id="iframe-messages"></div>
  </body>
  <script src="/javascripts/scripts.js"></script>
</html>
